:root {
    /* colors */
    --raisin-black: #272727;
    --ghost-white: #FBFBFF;
    --stafety-orange: #FF7700;
    --opera-mauve: #AF7595;
    --verdigris: #00AFB5;
    /* fonts */
    --font-size: 18px;
    --font-title: 24px;
}

body {
    background-color: var(--stafety-orange);
    color: var(--raisin-black);
    font-family: 'Ubuntu', sans-serif;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.login {
    background-color: var(--opera-mauve);
    display: grid;
    gap: 20px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    justify-content: center;
    padding: 10px;
    width: 30vw;
}

.login legend {
    font-size: var(--font-title);
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.login .name {
    font-size: var(--font-size);
    justify-self: center;
    padding: 5px;
    width: 90%;
}

.login button {
    background-color: var(--verdigris);
    border: none;
    border-radius: 40px;
    color: var(--ghost-white);
    cursor: pointer;
    display: block;
    font-size: var(--font-size);
    font-weight: bold;
    height: 40px;
    justify-self: center;
    text-transform: uppercase;
    width: 90%;
    transition: background-color 1s;
}

.login button:hover {
    background-color: var(--raisin-black);
}